<form [formGroup]="resetPasswordForm" (submit)="onSubmit()" class="form-resetpass text-center">

  <h1 class="h3 mb-3 font-weight-normal">Сброс пароля</h1>

  <div class="form-group">
    <label for="email" class="sr-only">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="Ваш email" formControlName="email" [ngClass]="{'is-invalid': resetPasswordForm.get('email').invalid && (resetPasswordForm.get('email').dirty || submitted)}"
    />
    <div class="invalid-feedback" *ngIf="resetPasswordForm.get('email').hasError('required') && (resetPasswordForm.get('email').dirty
              || submitted)">
      Необходимо ввести email.
    </div>
    <div class="invalid-feedback" *ngIf="resetPasswordForm.get('email').hasError('email') && resetPasswordForm.get('email').dirty">
      Введите корректный email
    </div>
  </div>

  <div class="form-group">
    <div #captcha nbRecaptcha key="6Lc_LmcUAAAAAF0qURnDASr1k6zPRDO9uq9exfRM" formControlName="captcha"></div>
    <div class="invalid-feedback" [ngStyle]="{display: (resetPasswordForm.get('captcha').hasError('required') && submitted)?'block':''}">
      Подтвердите что вы не робот.
    </div>
  </div>

  <div class="form-group">
    <button [disabled]="loading" class="btn btn-lg btn-primary btn-block">Отправить</button>
    <!-- TODO тут лучше всплывающее сообщение о успешной отправке -->
    <span class="small text-muted">Если указанная почта существует и была подтверждена, то на неё будет отправлено сообщение с url для смены пароля</span>
    <img *ngIf="loading" src="/static/assets/circle_upload.gif" />
  </div>
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  <div *ngIf="success" class="alert alert-success">Запрос отправлен</div>
  <p>
    <a [routerLink]='["/account/register"]'>Зарегистрироваться</a>
  </p>
  <p>
    <a [routerLink]='["/account/login"]'>Войти</a>
  </p>
  
</form>