<footer class="blog-footer mt-3">
  <p class="mb-3 text-muted">JamesKot © 2015-2024</p>
  <p>По любым вопросам по тел. 8-906-653-11-40 и jameskot.bowties@mail.ru</p>
  <p>
    <a href="https://www.instagram.com/jameskot_bowties" class="my-2 mr-2">Instagram</a>
    <a href="https://vk.com/jameskot_bowties" class="my-2">Группа VK</a>
  </p>
  <p>
      <button type="button" class="btn btn-link"
        onclick="document.body.scrollTop = 0;document.documentElement.scrollTop = 0;">Наверх</button>
  </p>

</footer>