<form [formGroup]="registrationForm" (submit)="onSubmit()" class="form-register text-center">
  <!-- <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
  <h1 class="h3 mb-3 font-weight-normal">Зарегистрироваться</h1>
  <div class="form-group">
    <label for="email" class="sr-only">Ваш email</label>
    <input type="email" class="form-control" id="email" placeholder="Ваш email" formControlName="email" [ngClass]="{'is-invalid': registrationForm.get('email').invalid && (registrationForm.get('email').dirty || submitted)}"
    />
    <div class="invalid-feedback" *ngIf="registrationForm.get('email').hasError('required') && (registrationForm.get('email').dirty || submitted)">
      Необходимо ввести email.
    </div>
    <div class="invalid-feedback" *ngIf="registrationForm.get('email').hasError('email') && (registrationForm.get('email').dirty || submitted)">
      Введите корректный email.
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="sr-only">Имя</label>
    <input type="text" class="form-control" id="name" placeholder="Имя" formControlName="name" [ngClass]="{'is-invalid': registrationForm.get('name').invalid && (registrationForm.get('name').dirty || submitted)}"
    />
    <div class="invalid-feedback" *ngIf="registrationForm.get('name').hasError('required') && (registrationForm.get('name').dirty || submitted)">
      Необходимо ввести имя.
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="sr-only">Пароль</label>
    <input type="password" class="form-control" id="password" placeholder="Пароль" formControlName="password" [ngClass]="{'is-invalid': registrationForm.get('password').invalid && (registrationForm.get('password').dirty || submitted)}"
    />
    <div class="invalid-feedback" *ngIf="registrationForm.get('password').hasError('required') && (registrationForm.get('password').dirty || submitted)">
        Необходимо ввести пароль.
    </div>
    <div class="invalid-feedback" *ngIf="registrationForm.get('password').hasError('minlength') && (registrationForm.get('password').dirty || submitted)">
      Пароль должен содержать минимум 6 символов.
    </div>
  </div>
  <div class="form-group">
    <label for="passwordConfirm" class="sr-only">Подтверждение пароля</label>
    <input type="password" class="form-control" id="passwordConfirm" placeholder="Пароль (подтверждение)" formControlName="passwordConfirm"
      [ngClass]="{'is-invalid': registrationForm.get('passwordConfirm').invalid && (registrationForm.get('passwordConfirm').dirty || submitted)}"
    />
    <div class="invalid-feedback" *ngIf="registrationForm.get('passwordConfirm').hasError('validatePasswordConfirm') && (registrationForm.get('passwordConfirm').dirty || submitted)">
      Пароли должны совпадать.
    </div>
  </div>
  <div class="form-group">
    <div #captcha nbRecaptcha key="6Lc_LmcUAAAAAF0qURnDASr1k6zPRDO9uq9exfRM" formControlName="captcha"></div>
    <div class="invalid-feedback" [ngStyle]="{display: (registrationForm.get('captcha').hasError('required') && submitted)?'block':''}">
      Подтвердите что вы не робот.
    </div>
  </div>
  <div class="form-check">
    <label>
      <input class="checkbox mb-3" type="checkbox" value="" id="rememberMeCheck" formControlName="rememberMe"> Запомнить меня
    </label>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-lg btn-primary btn-block">Зарегистрироваться</button>
    <img *ngIf="loading" src="/static/assets/circle_upload.gif" />
  </div>
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  <p>
    <a [routerLink]='["/account/login"]'>Войти</a>
  </p>
  <p>
    <a [routerLink]='["/account/reset"]'>Сбросить пароль</a>
  </p>
</form>