.handle {
    padding: 0 5px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: move;
    margin-top: auto;
}
.available-colors_list
{
    width: 20px;
    height: 20px;
    margin: 1px;
}