<img class="center-block" *ngIf="!tokenInvalid&&!tokenValid" src="assets/circle_upload.gif" />
<div *ngIf="tokenInvalid">
    <h2 class="h3 mb-3 font-weight-normal text-center">Ссылка уже недействительна</h2>
</div>
<div *ngIf="tokenValid">
  <form [formGroup]="changePasswordForm" (submit)="onSubmit()" class="custom-form text-center">

    <h1 class="h3 mb-3 font-weight-normal">Введите новый пароль</h1>

    <div class="form-group">
      <label for="newPassword" class="sr-only">Новый пароль</label>
      <input type="password" class="form-control" id="newPassword" placeholder="Новый пароль" formControlName="newPassword" [ngClass]="{'is-invalid': changePasswordForm.get('newPassword').invalid && (changePasswordForm.get('newPassword').dirty || submitted)}"
      />
      <div class="invalid-feedback" *ngIf="changePasswordForm.get('newPassword').hasError('required') && (changePasswordForm.get('newPassword').dirty || submitted)">
        Необходимо ввести пароль.
      </div>
      <div class="invalid-feedback" *ngIf="changePasswordForm.get('newPassword').hasError('minlength') && (changePasswordForm.get('newPassword').dirty || submitted)">
        Пароль должен содержать минимум 6 символов.
      </div>
    </div>

    <div class="form-group">
      <label for="newPasswordConfirm" class="sr-only">Новый пароль (подтверждение)</label>
      <input type="password" class="form-control" id="newPasswordConfirm" placeholder="Новый пароль (подтверждение)" formControlName="newPasswordConfirm"
        [ngClass]="{'is-invalid': changePasswordForm.get('newPasswordConfirm').invalid && (changePasswordForm.get('newPasswordConfirm').dirty || submitted)}"
      />
      <div class="invalid-feedback" *ngIf="changePasswordForm.get('newPasswordConfirm').hasError('required') && (changePasswordForm.get('newPasswordConfirm').dirty || submitted)">
        Необходимо ввести пароль.
      </div>
      <div class="invalid-feedback" *ngIf="changePasswordForm.get('newPasswordConfirm').hasError('minlength') && (changePasswordForm.get('newPasswordConfirm').dirty || submitted)">
        Пароль должен содержать минимум 6 символов.
      </div>
      <div class="invalid-feedback" *ngIf="changePasswordForm.get('newPasswordConfirm').hasError('validatePasswordConfirm') && (changePasswordForm.get('newPasswordConfirm').dirty || submitted)">
        Пароли должны совпадать.
      </div>
    </div>

    <div class="form-group">
      <button [disabled]="loading" class="btn btn-lg btn-primary btn-block">Изменить пароль</button>
      <img *ngIf="loading" src="assets/circle_upload.gif" />
    </div>

    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    <div *ngIf="success" class="alert alert-success">Пароль успешно изменён</div>
  </form>
</div>