<section class="jumbotron text-center main-background">
  <div class="container">
    <h1 class="jumbotron-heading">Аксессуары ручной работы James Kot</h1>
    <p class="lead text-muted">Добро пожаловать в наш интернет-магазин, здесь вы можете посмотреть и заказать все имеющиеся у нас товары.</p>
    <p>
      <!-- <a href="https://www.instagram.com/jameskot_bowties" class="btn btn-primary my-2 mr-2">Instagram</a>
      <a href="https://vk.com/jameskot_bowties" class="btn btn-secondary my-2">Группа VK</a> -->
      <a href="https://www.instagram.com/jameskot_bowties" class="my-2 mr-2"><img width="64" height="64" src="/assets/inst_64px.png"></a>
      <a href="https://vk.com/jameskot_bowties" class="my-2"><img width="64" height="64" src="/assets/vk_64px.png"></a>
    </p>
  </div>
</section>